// app global css in SCSS form
.title-font {
    font-family: 'Rochester', cursive;
}

.paragraph-font {
    font-family: 'Playfair Display', sans-serif;
}

.home-card-lg {
    width: 100%;
    max-width: 1000px;
}

.home-card-sm {
    width: 100%;
    max-width: 800px;
}

.underline {
    text-decoration: underline;
}

.center {
    margin: auto;
    width: 100%;
}

.center-height {
    margin: auto;
    height: 50%;
}
